<div class="container bracket-container">
	<div class="row tourney row-1">
		<a href=""><div class="col-sm-2 bracket left-side team-1-round-1">1 Kansas</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">UNC 1</div></a>
	</div>
	
	<div class="row tourney row-2">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side team-1-round-2">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-3">
		<a href=""><div class="col-sm-2 bracket left-side team-2-round-1">16 Austin Peay</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">FGCU 16</div></a>
	</div>

	<div class="row tourney row-4">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div></a>
	</div>

	<div class="row tourney row-5">
		<a href=""><div class="col-sm-2 bracket left-side">8 Colorado</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">USC 9</div></a>
	</div>

	<div class="row tourney row-6">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-7">
		<a href=""><div class="col-sm-2 bracket left-side">9 Connecticut</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Providence 9</div></a>
	</div>

	<div class="row tourney row-8">
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-0 bracket right-side">Round 4</div></a>
	</div>

	<div class="row tourney row-9">
		<a href=""><div class="col-sm-2 bracket left-side">5 Maryland</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Indiana 5</div></a>
	</div>

	<div class="row tourney row-10">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-11">
		<a href=""><div class="col-sm-2 bracket left-side">12 South Dakota St.</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Chattanooga 12</div></a>
	</div>

	<div class="row tourney row-12">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">1 Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">1 Round 3</div></a>
	</div>

	<div class="row tourney row-13">
		<a href=""><div class="col-sm-2 bracket left-side">4 California</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Kentucky 4</div></a>
	</div>

	<div class="row tourney row-14">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-15">
		<a href=""><div class="col-sm-2 bracket left-side">13 Hawaii</div>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Stony Brook 13</div></a>
	</div>

	<div class="row tourney row-16">
		<a href=""><div class="col-sm-1 col-sm-offset-5 bracket left-side">Final 4</div></a>
		<a href=""><div class="col-sm-1 col-sm-offset-0 bracket right-side">Final 4</div></a>
	</div>

	<div class="row tourney row-17">
		<a href=""><div class="col-sm-2 bracket left-side">6 Arizona</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Notre Dame 6</div></a>
	</div>

	<div class="row tourney row-18">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-19">
		<a href=""><div class="col-sm-2 bracket left-side">11 Witchita State</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Michigan 11</div></a>
	</div>

	<div class="row tourney row-20">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div></a>
	</div>

	<div class="row tourney row-21">
		<a href=""><div class="col-sm-2 bracket left-side">3 Miami (FL)</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">West Virginia 3</div></a>
	</div>

	<div class="row tourney row-22">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-23">
		<a href=""><div class="col-sm-2 bracket left-side">14 Buffalo</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Stephen F. Austin 14</div></a>
	</div>

	<div class="row tourney row-24">
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-0 bracket right-side">Round 4</div></a>
	</div>

	<div class="row tourney row-25">
		<a href=""><div class="col-sm-2 bracket left-side">7 Iowa</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Wisconsin 7</div></a>
	</div>

	<div class="row tourney row-26">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-27">
		<a href=""><div class="col-sm-2 bracket left-side">10 Temple</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Pittsburgh 10</div></a>
	</div>

	<div class="row tourney row-28">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div></a>
	</div>

	<div class="row tourney row-29">
		<a href=""><div class="col-sm-2 bracket left-side">2 Villanova</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Xavier 2</div></a>
	</div>
	
	<div class="row tourney row-30">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-31">
		<a href=""><div class="col-sm-2 bracket left-side">15 UNC Asheville</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Weber State 15</div></a>
	</div> 
<!-- ********* End First 32 Teams *************  -->
	<div class="row champions-row">
		<div class="row tourney row-32">
			<div class="col-sm-2 col-sm-offset-5">Final Four Image</div>
		</div>

		<div class="row tourney row-33">
			<a href=""><div class="col-sm-2 col-sm-offset-3 bracket left-side final-four">Final Four</div></a>
			<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side final-four">Final Four</div></a>
		</div>
		
		<div class="row tourney row-34">
			<a href=""><div class="col-sm-2 col-sm-offset-3 bracket championship">Championship</div></a>
			<div class="col-sm-2 bracket national-champion">Champion</div>
			<a href=""><div class="col-sm-2 bracket championship">Championship</div></a>
		</div>

		<div class="row tourney row-35">
			<a href=""><div class="col-sm-2 col-sm-offset-3 bracket left-side final-four">Final Four</div></a>
			<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side final-four">Final Four</div></a>
		</div>
	</div>
<!-- ************ End Championship Display ********* -->
	
	<div class="row tourney row-1">
		<a href=""><div class="col-sm-2 bracket left-side">1 Oregon</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Virginia 1</div></a>
	</div>
	
	<div class="row tourney row-2">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-3">
		<a href=""><div class="col-sm-2 bracket left-side">16 Holy Cross</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Hampton 16</div></a>
	</div>

	<div class="row tourney row-4">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div></a>
	</div>

	<div class="row tourney row-5">
		<a href=""><div class="col-sm-2 bracket left-side">8 Saint Joseph's</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Texas Tech 9</div></a>
	</div>

	<div class="row tourney row-6">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-7">
		<a href=""><div class="col-sm-2 bracket left-side">9 Cincinnati</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Butler 9</div></a>
	</div>

	<div class="row tourney row-8">
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-0 bracket right-side">Round 4</div></a>
	</div>

	<div class="row tourney row-9">
		<a href=""><div class="col-sm-2 bracket left-side">5 Baylor</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Purdue 5</div></a>
	</div>

	<div class="row tourney row-10">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-11">
		<a href=""><div class="col-sm-2 bracket left-side">12 Yale</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Little Rock 12</div></a>
	</div>

	<div class="row tourney row-12">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">1 Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">1 Round 3</div></a>
	</div>

	<div class="row tourney row-13">
		<a href=""><div class="col-sm-2 bracket left-side">4 Duke</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Iowa State 4</div></a>
	</div>

	<div class="row tourney row-14">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-15">
		<a href=""><div class="col-sm-2 bracket left-side">13 UNC Wilmington</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Iona 13</div></a>
	</div>

	<div class="row tourney row-16">
		<a href=""><div class="col-sm-1 col-sm-offset-5 bracket left-side">Final 4</div></a>
		<a href=""><div class="col-sm-1 col-sm-offset-0 bracket right-side">Final 4</div></a>
	</div>

	<div class="row tourney row-17">
		<a href=""><div class="col-sm-2 bracket left-side">6 Texas</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Seton Hall 6</div></a>
	</div>

	<div class="row tourney row-18">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-19">
		<a href=""><div class="col-sm-2 bracket left-side">11 Northern Iowa</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Gonzaga 11</div></a>
	</div>

	<div class="row tourney row-20">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div></a>
	</div>

	<div class="row tourney row-21">
		<a href=""><div class="col-sm-2 bracket left-side">3 Texas A&M</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Utah 3</div></a>
	</div>

	<div class="row tourney row-22">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-23">
		<a href=""><div class="col-sm-2 bracket left-side">14 Green Bay</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Fresno St. 14</div></a>
	</div>

	<div class="row tourney row-24">
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-0 bracket right-side">Round 4</div></a>
	</div>

	<div class="row tourney row-25">
		<a href=""><div class="col-sm-2 bracket left-side">7 Oregon St.</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Dayton 7</div></a>
	</div>

	<div class="row tourney row-26">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-27">
		<a href=""><div class="col-sm-2 bracket left-side">10 VCU</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Syracuse 10</div></a>
	</div>

	<div class="row tourney row-28">
		<a href=""><div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div></a>
	</div>

	<div class="row tourney row-29">
		<a href=""><div class="col-sm-2 bracket left-side">2 Oklahoma</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Michigan St. 2</div></a>
	</div>
	
	<div class="row tourney row-30">
		<a href=""><div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div></a>
	</div>

	<div class="row tourney row-31">
		<a href=""><div class="col-sm-2 bracket left-side">15 CSU Bakersfield</div></a>
		<a href=""><div class="col-sm-2 col-sm-offset-8 bracket right-side">Middle Tenn. 15</div></a>
	</div>


</div> <!-- End Bracket Container -->




