<div class="container bracket-container">
	<div class="row tourney row-1">
		<div class="col-sm-2 bracket left-side">1 Kansas</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">1 UNC</div>
	</div>
	
	<div class="row tourney row-2">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-3">
		<div class="col-sm-2 bracket left-side">16 Austin Peay</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">16 FGCU</div>
	</div>

	<div class="row tourney row-4">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div>
	</div>

	<div class="row tourney row-5">
		<div class="col-sm-2 bracket left-side">8 Colorado</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">9 USC</div>
	</div>

	<div class="row tourney row-6">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-7">
		<div class="col-sm-2 bracket left-side">9 Connecticut</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">9 Providence</div>
	</div>

	<div class="row tourney row-8">
		<div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div>
		<div class="col-sm-2 col-sm-offset-1 bracket right-side">Round 4</div>
	</div>

	<div class="row tourney row-9">
		<div class="col-sm-2 bracket left-side">5 Maryland</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">5 Indiana</div>
	</div>

	<div class="row tourney row-10">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-11">
		<div class="col-sm-2 bracket left-side">12 South Dakota St.</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">12 Chattanooga</div>
	</div>

	<div class="row tourney row-12">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">1 Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">1 Round 3</div>
	</div>

	<div class="row tourney row-13">
		<div class="col-sm-2 bracket left-side">4 California</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">4 Kentucky</div>
	</div>

	<div class="row tourney row-14">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-15">
		<div class="col-sm-2 bracket left-side">13 Hawaii</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">13 Stony Brook</div>
	</div>

	<div class="row tourney row-16">
		<div class="col-sm-2 col-sm-offset-4 bracket left-side">Final 4</div>
		<div class="col-sm-2 col-sm-offset-0 bracket right-side">Final 4</div>
	</div>

	<div class="row tourney row-17">
		<div class="col-sm-2 bracket left-side">6 Arizona</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">6 Notre Dame</div>
	</div>

	<div class="row tourney row-18">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-19">
		<div class="col-sm-2 bracket left-side">11 Witchita State</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">11 Michigan</div>
	</div>

	<div class="row tourney row-20">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div>
	</div>

	<div class="row tourney row-21">
		<div class="col-sm-2 bracket left-side">3 Miami (FL)</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">3 West Virginia</div>
	</div>

	<div class="row tourney row-22">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-23">
		<div class="col-sm-2 bracket left-side">14 Buffalo</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">14 Stephen F. Austin</div>
	</div>

	<div class="row tourney row-24">
		<div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div>
		<div class="col-sm-2 col-sm-offset-1 bracket right-side">Round 4</div>
	</div>

	<div class="row tourney row-25">
		<div class="col-sm-2 bracket left-side">7 Iowa</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">7 Wisconsin</div>
	</div>

	<div class="row tourney row-26">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-27">
		<div class="col-sm-2 bracket left-side">10 Temple</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">10 Pittsburgh</div>
	</div>

	<div class="row tourney row-28">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div>
	</div>

	<div class="row tourney row-29">
		<div class="col-sm-2 bracket left-side">2 Villanova</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">2 Xavier</div>
	</div>
	
	<div class="row tourney row-30">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-31">
		<div class="col-sm-2 bracket left-side">15 UNC Asheville</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">15 Weber State</div>
	</div> 
<!-- ********* End First 32 Teams *************  -->
	<div class="row champions-row">
		<div class="row tourney row-32">
			<div class="col-sm-2 col-sm-offset-5">Championship</div>
		</div>

		<div class="row tourney row-33">
			<div class="col-sm-2 col-sm-offset-3 bracket left-side final-four">Final Four</div>
			<div class="col-sm-2 col-sm-offset-2 bracket right-side final-four">Final Four</div>
		</div>
		
		<div class="row tourney row-34">
			<div class="col-sm-2 col-sm-offset-3 bracket championship">Championship</div>
			<div class="col-sm-2 bracket national-champion">Villanova</div>
			<div class="col-sm-2 bracket championship">Championship</div>
		</div>

		<div class="row tourney row-35">
			<div class="col-sm-2 col-sm-offset-3 bracket left-side final-four">Final Four</div>
			<div class="col-sm-2 col-sm-offset-2 bracket right-side final-four">Final Four</div>
		</div>
	</div>
<!-- ************ End Championship Display ********* -->
	
	<div class="row tourney row-1">
		<div class="col-sm-2 bracket left-side">1 Oregon</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">1 Virginia</div>
	</div>
	
	<div class="row tourney row-2">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-3">
		<div class="col-sm-2 bracket left-side">16 Holy Cross</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">16 Hampton</div>
	</div>

	<div class="row tourney row-4">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div>
	</div>

	<div class="row tourney row-5">
		<div class="col-sm-2 bracket left-side">8 Saint Joseph's</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">9 Texas Tech</div>
	</div>

	<div class="row tourney row-6">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-7">
		<div class="col-sm-2 bracket left-side">9 Cincinnati</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">9 Butler</div>
	</div>

	<div class="row tourney row-8">
		<div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div>
		<div class="col-sm-2 col-sm-offset-1 bracket right-side">Round 4</div>
	</div>

	<div class="row tourney row-9">
		<div class="col-sm-2 bracket left-side">5 Baylor</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">5 Purdue</div>
	</div>

	<div class="row tourney row-10">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-11">
		<div class="col-sm-2 bracket left-side">12 Yale</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">12 Little Rock</div>
	</div>

	<div class="row tourney row-12">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">1 Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">1 Round 3</div>
	</div>

	<div class="row tourney row-13">
		<div class="col-sm-2 bracket left-side">4 Duke</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">4 Iowa State</div>
	</div>

	<div class="row tourney row-14">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-15">
		<div class="col-sm-2 bracket left-side">13 UNC Wilmington</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">13 Iona</div>
	</div>

	<div class="row tourney row-16">
		<div class="col-sm-2 col-sm-offset-4 bracket left-side">Final 4</div>
		<div class="col-sm-2 col-sm-offset-0 bracket right-side">Final 4</div>
	</div>

	<div class="row tourney row-17">
		<div class="col-sm-2 bracket left-side">6 Texas</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">6 Seton Hall</div>
	</div>

	<div class="row tourney row-18">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-19">
		<div class="col-sm-2 bracket left-side">11 Northern Iowa</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">11 Gonzaga</div>
	</div>

	<div class="row tourney row-20">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div>
	</div>

	<div class="row tourney row-21">
		<div class="col-sm-2 bracket left-side">3 Texas A&M</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">3 Utah</div>
	</div>

	<div class="row tourney row-22">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-23">
		<div class="col-sm-2 bracket left-side">14 Green Bay</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">14 Fresno St.</div>
	</div>

	<div class="row tourney row-24">
		<div class="col-sm-2 col-sm-offset-4 bracket left-side">Round 4</div>
		<div class="col-sm-2 col-sm-offset-1 bracket right-side">Round 4</div>
	</div>

	<div class="row tourney row-25">
		<div class="col-sm-2 bracket left-side">7 Oregon St.</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">7 Dayton</div>
	</div>

	<div class="row tourney row-26">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-27">
		<div class="col-sm-2 bracket left-side">10 VCU</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">10 Syracuse</div>
	</div>

	<div class="row tourney row-28">
		<div class="col-sm-2 bracket col-sm-offset-3 left-side">Round 3</div>
		<div class="col-sm-2 col-sm-offset-2 bracket right-side">Round 3</div>
	</div>

	<div class="row tourney row-29">
		<div class="col-sm-2 bracket left-side">2 Oklahoma</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">2 Michigan St.</div>
	</div>
	
	<div class="row tourney row-30">
		<div class="col-sm-2 col-sm-offset-2 bracket left-side">Round 2</div>
		<div class="col-sm-2 col-sm-offset-4 bracket right-side">Round 2</div>
	</div>

	<div class="row tourney row-31">
		<div class="col-sm-2 bracket left-side">15 CSU Bakersfield</div>
		<div class="col-sm-2 col-sm-offset-8 bracket right-side">15 Middle Tenn.</div>
	</div>


</div> <!-- End Bracket Container -->




