<div class="container-fluid bracket-container"> 
  <div class="row">
    <div class="col-sm-6">
        <table class="bracket-table">
             <tr>
                <td><div>1 Kansas</div class=""></td>
                <td rowspan="2"><div class="">1 Kansas</div></td>
                <td rowspan="4"><div class="">1 Kansas</div></td>
                <td rowspan="8"><div class="">1 Kansas</div></td>
                <td rowspan="16"><div class="">2 Villanova</div></td>
             </tr>
             <tr>
                <td><div class="">16 Austin Peay</div></td>
             </tr>
             <tr>
                <td><div class="">8 Colorado</div></td>
                <td rowspan="2"><div class="">9 Connecticut</div></td>
             </tr>
             <tr>
                <td><div class="">9 Connecticut</div></td>
             </tr>
             <tr>
                <td><div class="">5 Maryland</div></td>
                <td rowspan="2"><div class="">5 Maryland</div></td>
                <td rowspan="4"><div class="">13 Hawaii</div></td>
             </tr>
             <tr>
                <td><div class="">12 South Dakota</div></td>
             </tr>
             <tr>
                <td><div class="">4 California</div></td>
                <td rowspan="2"><div class="">13 Hawaii</div></td>
             </tr>
             <tr>
                <td><div class="">13 Hawaii</div></td>
             </tr>
             <tr>
                <td><div class="">6 Arizona</div></td>
                <td rowspan="2"><div class="">6 Arizona</div></td>
                <td rowspan="4"><div class="">6 Arizona</div></td>
                <td rowspan="8"><div class="">2 Villanova</div></td>
             </tr>
             <tr>
                <td><div class="">11 Wichita St.</div></td>
             </tr>
             <tr>
                <td><div class="">3 Miami (FL)</div></td>
                <td rowspan="2"><div>3 Miami (FL)</div></td>
             </tr>
             <tr>
               <td><div class="">14 Buffalo</div></td>
             </tr>
             <tr>
                <td><div class="">7 Iowa</div></td>
                <td rowspan="2"><div class="">7 Iowa</div></td>
                <td rowspan="4"><div class="">2 Villanova</div></td>
             </tr>
             <tr>
                <td><div class="">10 Temple</div></td>
             </tr>
             <tr>
                <td><div class="">2 Villanova</div></td>
                <td rowspan="2"><div class="">2 Villanova</div></td>
             </tr>
             <tr>
                <td><div class="">15 UNC Asheville</div></td>
             </tr>
        </table>
    </div> <!-- End Left Side Row 1 -->

    <div class="col-sm-6">
        <table class="bracket-table">
            <tr>
                <td rowspan="16"><div class="right-side">North Carolina 1</div></td>
                <td rowspan="8"><div class="right-side">North Carolina 1</div></td>
                <td rowspan="4"><div class="right-side">North Carolina 1</div></td>
                <td rowspan="2"><div class="right-side">North Carolina 1</div></td>
                <td><div class="right-side">North Carolina 1</div></td>
             </tr>
             <tr>
                <td><div class="right-side">FGCU 16</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">USC 8</div></td>
                <td><div class="right-side">USC 8</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Providence 9</div></td>
             </tr>
             <tr>
                <td rowspan="4"><div class="right-side">Indiana 5</div></td>
                <td rowspan="2"><div class="right-side">Indiana 5</div></td>
                <td><div class="right-side">Indiana 5</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Chattanooga 12</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">Kentucky 4</div></td>
                <td><div class="right-side">Kentucky 4</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Stony Brook 13</div></td>
             </tr>
             <tr>
                <td rowspan="8"><div class="right-side">West Virginia 3</div></td>
                <td rowspan="4"><div class="right-side">West Virginia 3</div></td>
                <td rowspan="2"><div class="right-side">Notre Dame 6</div></td>
                <td><div class="right-side">Notre Dame 6</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Michigan 11</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">West Virginia 3</div></td>
                <td><div class="right-side">West Virginia 3</div></td>
             </tr>
             <tr>
               <td><div class="right-side">Stephen F Austin 16</div></td>
             </tr>
             <tr>
                <td rowspan="4"><div class="right-side">Xavier 2</div></td>
                <td rowspan="2"><div class="right-side">Pittsburgh 10</div></td>
                <td><div class="right-side">Wisconsin 7</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Pittsburgh 10</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">Xavier 2</div></td>
                <td><div class="right-side">Xavier 2</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Weber State 15</div></td>
             </tr>
        </table>
    </div> <!-- End Right Side Row 1 -->    
  </div>
<!-- ****************** END FIRST ROW ********************************* -->

  <div class="row">
    <div class="col-sm-1 col-sm-offset-5">
    <img src="http://media.click2houston.com/photo/2015/11/22/finalfourhouston-jpg_498224_ver1.0_1280_720.jpg" class="final-four-image">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <div class="final-four">2 Villanova</div>
      <div class="final-four">1 Oregon</div>
    </div>
    <div class="col-sm-2 col-sm-offset-0">
      <div class="final-four">Villanova 2</div>
      <div class="final-four">Michigan State 2</div>
      <p class="national-championship">National Champion</p>
      <div class="final-four">Michigan State 2</div>
      
    </div>
    <div class="col-sm-2 col-sm-offset-0">
      <div class="final-four">North Carolina 1</div>
      <div class="final-four">Michigan State 2</div>
    </div>
  </div>
<!-- *************** END FINAL FOUR SECTION *********************** -->
   <div class="row bottom-bracket-row">
    <div class="col-sm-6">
        <table class="bracket-table">
             <tr>
                <td><div>1 Oregon</div class=""></td>
                <td rowspan="2"><div class="">1 Oregon</div></td>
                <td rowspan="4"><div class="">1 Oregon</div></td>
                <td rowspan="8"><div class="">1 Oregon</div></td>
                <td rowspan="16"><div class="">1 Oregon</div></td>
             </tr>
             <tr>
                <td><div class="">16 Holy Cross</div></td>
             </tr>
             <tr>
                <td><div class="">8 Saint Joseph's</div></td>
                <td rowspan="2"><div class="">9 Cincinnati</div></td>
             </tr>
             <tr>
                <td><div class="">9 Cincinnati</div></td>
             </tr>
             <tr>
                <td><div class="">5 Baylor</div></td>
                <td rowspan="2"><div class="">12 Yale</div></td>
                <td rowspan="4"><div class="">12 Yale</div></td>
             </tr>
             <tr>
                <td><div class="">12 Yale</div></td>
             </tr>
             <tr>
                <td><div class="">4 Duke</div></td>
                <td rowspan="2"><div class="">4 Duke</div></td>
             </tr>
             <tr>
                <td><div class="">13 UNCW</div></td>
             </tr>
             <tr>
                <td><div class="">6 Texas</div></td>
                <td rowspan="2"><div class="">6 Texas</div></td>
                <td rowspan="4"><div class="">3 Texas A&M</div></td>
                <td rowspan="8"><div class="">3 Texas A&M</div></td>
             </tr>
             <tr>
                <td><div class="">11 Northern Iowa</div></td>
             </tr>
             <tr>
                <td><div class="">3 Texas A&M</div></td>
                <td rowspan="2"><div>3 Texas A&M</div></td>
             </tr>
             <tr>
               <td><div class="">14 Green Bay</div></td>
             </tr>
             <tr>
                <td><div class="">7 Oregon State</div></td>
                <td rowspan="2"><div class="">10 VCU</div></td>
                <td rowspan="4"><div class="">2 Oklahoma</div></td>
             </tr>
             <tr>
                <td><div class="">10 VCU</div></td>
             </tr>
             <tr>
                <td><div class="">2 Oklahoma</div></td>
                <td rowspan="2"><div class="">2 Oklahoma</div></td>
             </tr>
             <tr>
                <td><div class="">15 CSU Bakersfield</div></td>
             </tr>
        </table>
    </div> <!-- End Left Side Row 1 -->

    <div class="col-sm-6">
        <table class="bracket-table">
            <tr>
                <td rowspan="16"><div class="right-side">Michigan State 2</div></td>
                <td rowspan="8"><div class="right-side">Virginia 1</div></td>
                <td rowspan="4"><div class="right-side">Virginia 1</div></td>
                <td rowspan="2"><div class="right-side">Virginia 1</div></td>
                <td><div class="right-side">Virginia 1</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Hampton 16</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">Butler 8</div></td>
                <td><div class="right-side">Butler 8</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Texas Tech 9</div></td>
             </tr>
             <tr>
                <td rowspan="4"><div class="right-side">Purdue 5</div></td>
                <td rowspan="2"><div class="right-side">Purdue 5</div></td>
                <td><div class="right-side">Purdue 5</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Little Rock 12</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">Iowa State 4</div></td>
                <td><div class="right-side">Iowa State 4</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Iona 13</div></td>
             </tr>
             <tr>
                <td rowspan="8"><div class="right-side">Michigan State 2</div></td>
                <td rowspan="4"><div class="right-side">Gonzaga 11</div></td>
                <td rowspan="2"><div class="right-side">Gonzaga 11</div></td>
                <td><div class="right-side">Seton Hall 6</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Gonzaga 11</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">Utah 3</div></td>
                <td><div class="right-side">Utah 3</div></td>
             </tr>
             <tr>
               <td><div class="right-side">Fresno State 14</div></td>
             </tr>
             <tr>
                <td rowspan="4"><div class="right-side">Michigan State 2</div></td>
                <td rowspan="2"><div class="right-side">Dayton 7</div></td>
                <td><div class="right-side">Dayton 7</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Syracuse 10</div></td>
             </tr>
             <tr>
                <td rowspan="2"><div class="right-side">Michigan State 2</div></td>
                <td><div class="right-side">Michigan State 2</div></td>
             </tr>
             <tr>
                <td><div class="right-side">Middle Tenn 15</div></td>
             </tr>
        </table>
    </div> <!-- End Right Side Row 1 -->    
  </div>
</div>

