<table class="table table-condensed table-responsive js-table-team2">
	<thead class="table-header-team2">
			<tr>
				<th>Season Stats (Average)</th>
				<th class="js-table-name-team2">Team 2</th>
			</tr>
	</thead>
	<tbody>
			<tr class="final-score-team2">
				<td>Final Score</td>
				<td class="js-final-score-team2">0</td>
			</tr>
			<tr>
				<td>Current Rank</td>
				<td class="js-rank-team2">0</td>
			</tr>
			<tr>
				<td>Strength of Schedule</td>
				<td class="js-sos-team2">0</td>
			</tr>
			<tr>
				<td>Rating Percentage Index (RPI)</td>
				<td class="js-rpi-team2">0</td>
			</tr>
			<tr>
				<td>Scoring Margin</td>
				<td class="js-scoring-margin-team2">0</td>
			</tr>
			<tr>
				<td>Points Per Game</td>
				<td class="js-ppg-team2">0</td>
			</tr>
			<tr>
				<td>Opponents Points Per Game</td>
				<td class="js-opponent-ppg-team2">0</td>
			</tr>
			<tr>
				<td>Field Goal Percentage</td>
				<td><span class="js-field-goal-team2"></span>%</td>
			</tr>
			<tr>
				<td>Opponent Field Goal Percentage</td>
				<td><span class="js-opponent-field-goal-team2"></span>%</td>
			</tr>
			<tr>
				<td>Free Throw Percentage</td>
				<td><span class="js-free-throws-team2"></span>%</td>
			</tr>
			<tr>
				<td>Points in the Paint</td>
				<td class="js-paint-points-team2">0</td>
			</tr>
			<tr>
				<td>Opponent Points in the Paint</td>
				<td class="js-opponent-paint-points-team2">0</td>
			</tr>
			<tr>
				<td>Three Pointers Made</td>
				<td class="js-threes-team2">0</td>
			</tr>
			<tr>
				<td>Three Pointers Against</td>
				<td class="js-opponent-threes-team2">0</td>
			</tr>
			<tr>
				<td>Rebounds</td>
				<td class="js-rebounds-team2">0</td>
			</tr>
			<tr>
				<td>Offensive Rebounds</td>
				<td class="js-offensive-rebounds-team2">0</td>
			</tr>
			<tr>
				<td>Steals</td>
				<td class="js-steals-team2">0</td>
			</tr>
			<tr>
				<td>Turnovers</td>
				<td class="js-turnovers-team2">0</td>
			</tr>
	</tbody>
</table>