<div class="form-group">
	  <label for="js-select-team1">Select First Team:</label>
	  <select class="form-control" id="js-select-team1">
		  	<option disabled selected>Select Team</option>
		    <option>Arizona</option>
		    <option>Arkansas-Little Rock</option>
		    <option>Austin Peay</option>
		    <option>Baylor</option>
		    <option>Buffalo</option>
		    <option>Butler</option>
		    <option>Cal State Bakersfield</option>
		    <option>California</option>
		    <option>Chattanooga</option>
		    <option>Cincinnati</option>
		    <option>Colorado</option>
		    <option>Connecticut</option>
		    <option>Dayton</option>
		    <option>Duke</option>
		    <option>Fairleigh Dickinson</option>
		    <option>Florida Gulf Coast</option>
		    <option>Fresno State</option>
		    <option>Gonzaga</option>
		    <option>Green Bay</option>
		    <option>Hampton</option>
		    <option>Hawaii</option>
		    <option>Holy Cross</option>
		    <option>Indiana</option>
		    <option>Iona</option>
		    <option>Iowa</option>
		    <option>Iowa State</option>
		    <option>Kansas</option>
		    <option>Kentucky</option>
		    <option>Maryland</option>
		    <option>Miami (FL)</option>
		    <option>Michigan</option>
		    <option>Michigan State</option>
		    <option>Middle Tennessee</option>
		    <option>North Carolina</option>
		    <option>North Carolina-Wilmington</option>
		    <option>Northern Iowa</option>
		    <option>Notre Dame</option>
		    <option>Oklahoma</option>
		    <option>Oregon</option>
		    <option>Oregon State</option>
		    <option>Pittsburgh</option>
		    <option>Providence</option>
		    <option>Purdue</option>
		    <option>Saint Joseph's (PA)</option>
		    <option>Seton Hall</option>
		    <option>South Dakota State</option>
		    <option>Southern University</option>
		    <option>Stony Brook</option>
		    <option>Syracuse</option>
		    <option>Temple</option>
		    <option>Texas</option>
		    <option>Texas A&M</option>
		    <option>Texas Tech</option>
		    <option>Tulsa</option>
		    <option>UNC Asheville</option>
		    <option>USC</option>
		    <option>Utah</option>
		    <option>Vanderbilt</option>
		    <option>Villanova</option>
		    <option>Virginia</option>
		    <option>Virginia Commonwealth</option>
		    <option>Weber State</option>
		    <option>West Virginia</option>
		    <option>Wichita State</option>
		    <option>Wisconsin</option>
		    <option>Xavier</option>
		    <option>Yale</option>
	  </select>
</div>