<table class="table table-bordered table-condensed table-striped js-table-team1">
		<thead>
			<tr>
				<th>Season Stats (Average)</th>
				<th class="js-table-name-team1">Team 1</th>
			</tr>
		</thead>
		<tbody>
			<tr class="final-score-team1">
				<td>Final Score</td>
				<td class="js-final-score-team1">0</td>
			</tr>
			<tr>
				<td>Current Rank</td>
				<td class="js-rank-team1">0</td>
			</tr>
			<tr>
				<td>Strength of Schedule</td>
				<td class="js-sos-team1">0</td>
			</tr>
			<tr>
				<td>Rating Percentage Index (RPI)</td>
				<td class="js-rpi-team1">0</td>
			</tr>
			<tr>
				<td>Scoring Margin</td>
				<td class="js-scoring-margin-team1">0</td>
			</tr>
			<tr>
				<td>Points Per Game</td>
				<td class="js-ppg-team1">0</td>
			</tr>
			<tr>
				<td>Opponents Points Per Game</td>
				<td class="js-opponent-ppg-team1">0</td>
			</tr>
			<tr>
				<td>Field Goal Percentage</td>
				<td><span class="js-field-goal-team1"></span>%</td>
			</tr>
			<tr>
				<td>Opponent Field Goal Percentage</td>
				<td><span class="js-opponent-field-goal-team1"></span>%</td>
			</tr>
			<tr>
				<td>Free Throw Percentage</td>
				<td><span class="js-free-throws-team1"></span>%</td>
			</tr>
			<tr>
				<td>Points in the Paint</td>
				<td class="js-paint-points-team1">0</td>
			</tr>
			<tr>
				<td>Opponent Points in the Paint</td>
				<td class="js-opponent-paint-points-team1">0</td>
			</tr>
			<tr>
				<td>Three Pointers Made</td>
				<td class="js-threes-team1">0</td>
			</tr>
			<tr>
				<td>Three Pointers Against</td>
				<td class="js-opponent-threes-team1">0</td>
			</tr>
			<tr>
				<td>Rebounds</td>
				<td class="js-rebounds-team1">0</td>
			</tr>
			<tr>
				<td>Offensive Rebounds</td>
				<td class="js-offensive-rebounds-team1">0</td>
			</tr>
			<tr>
				<td>Steals</td>
				<td class="js-steals-team1">0</td>
			</tr>
			<tr>
				<td>Turnovers</td>
				<td class="js-turnovers-team1">0</td>
			</tr>
		</tbody>
</table>