<div class="container">

	<div class="row home-image-row">
	</div> <!-- End Home Image Row -->

	<div class="row select-teams-row">
		
		<div class="col-md-4 col-md-offset-1 js-team-1">
			<div class="form-group">
				  <label for="team1">Select Team:</label>
				  <select class="form-control" id="team1">
				    <option>0d037a5d-827a-44dd-8b70-57603d671d5d</option>
				    <option>c10544de-e3bd-4776-ba2e-83df8c017fd1</option>
				  </select>
			</div>
		</div> <!-- End Team 1 Seclect Form -->

		<div class="col-md-4 col-md-offset-1 js-team-2">
			<div class="form-group">
				  <label for="team2">Select Team:</label>
				  <select class="form-control" id="team2">
				    <option>1</option>
				    <option>2</option>
				  </select>
			</div>
		</div> <!-- End Team 2 Select Form -->

	</div> <!-- End Select Teams Row -->

</div> <!-- ************ End Container Divide *********** -->
