<div class="container">

	<div class="row select-teams-row">
		
		<div class="col-md-3 col-md-offset-2">
			<div class="form-group">
				  <label for="js-select-team1">Select First Team:</label>
				  <select class="form-control" id="js-select-team1">
				  	<option disabled selected>Select Team</option>
				    <option>Oklahoma</option>
				    <option>Villanova</option>
				    <option>Oregon</option>
				    <option>Kansas</option>
				    <option>Oregon State</option>
				    <option>Yale</option>
				    <option>Miami (FL)</option>
				    <option>North Carolina-Wilmington</option>
				  </select>
			</div>
		</div> 

		<div class="col-md-3 col-md-offset-2">
			<div class="form-group">
				  <label for="js-select-team2">Select Second Team:</label>
				  <select class="form-control" id="js-select-team2">
				  	<option disabled selected>Select Team</option>
				    <option>Oregon State</option>
				    <option>Yale</option>
				    <option>Michigan State</option>
				    <option>North Carolina</option>
				    <option>Kansas</option>
				    <option>Villanova</option>
				    <option>Northern Iowa</option>
				    <option>Virginia</option>
				  </select>
			</div>
		</div> 
	</div> 
	<!-- ******** END SELECT FORM ROW *************-->

	<div class="row basic-team-info-row">

		<div class="col-md-1">
			<img src="#" alt="Team Logo" class="js-logo-team1">
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot1">Mascot 1</p>
			<p>( <span class="js-wins-team1"></span> - <span class="js-losses-team1"></span> )</p>
			<p>Seed: <span class="js-seed-team1"></span> </p>
		</div> 

		<div class="col-md-4 col-md-offset-1 predicted-winner">
			<h4 class="predicted-winner-header">Predicted Winner</h4>
			<p class="js-predicted-winner"></p>
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot2">Mascot 2</p>
			<p>( <span class="js-wins-team2"></span> - <span class="js-losses-team2"></span> )</p>
			<p>Seed: <span class="js-seed-team2"></span> </p>
		</div>

		<div class="col-md-1 col-md-offset-0 logo-team2">
			<img src="#" alt="Team Logo" class="js-logo-team2">
		</div> 
	</div> 
	<!-- *********** END BASIC TEAM INFO ROW ************ -->
	
	<div class="row team-stats-row">

		<div class="col-md-4 col-md-offset-0">
			<table class="table table-bordered table-condensed table-striped js-table-team1">
				<thead>
					<tr>
						<th>Season Stats (Average)</th>
						<th class="js-table-name-team1">Team 1</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Final Score</td>
						<td class="js-final-score-team1">0</td>
					</tr>
					<tr>
						<td>Current Rank</td>
						<td class="js-rank-team1">0</td>
					</tr>
					<tr>
						<td>Strength of Schedule</td>
						<td class="js-sos-team1">0</td>
					</tr>
					<tr>
						<td>Rating Percentage Index (RPI)</td>
						<td class="js-rpi-team1">0</td>
					</tr>
					<tr>
						<td>Scoring Margin</td>
						<td class="js-scoring-margin-team1">0</td>
					</tr>
					<tr>
						<td>Points Per Game</td>
						<td class="js-ppg-team1">0</td>
					</tr>
					<tr>
						<td>Opponents Points Per Game</td>
						<td class="js-opponent-ppg-team1">0</td>
					</tr>
					<tr>
						<td>Field Goal Percentage</td>
						<td><span class="js-field-goal-team1"></span>%</td>
					</tr>
					<tr>
						<td>Opponent Field Goal Percentage</td>
						<td><span class="js-opponent-field-goal-team1"></span>%</td>
					</tr>
					<tr>
						<td>Free Throw Percentage</td>
						<td><span class="js-free-throws-team1"></span>%</td>
					</tr>
					<tr>
						<td>Points in the Paint</td>
						<td class="js-paint-points-team1">0</td>
					</tr>
					<tr>
						<td>Opponent Points in the Paint</td>
						<td class="js-opponent-paint-points-team1">0</td>
					</tr>
					<tr>
						<td>Three Pointers Made</td>
						<td class="js-threes-team1">0</td>
					</tr>
					<tr>
						<td>Three Pointers Against</td>
						<td class="js-opponent-threes-team1">0</td>
					</tr>
					<tr>
						<td>Rebounds</td>
						<td class="js-rebounds-team1">0</td>
					</tr>
					<tr>
						<td>Offensive Rebounds</td>
						<td class="js-offensive-rebounds-team1">0</td>
					</tr>
					<tr>
						<td>Steals</td>
						<td class="js-steals-team1">0</td>
					</tr>
					<tr>
						<td>Turnovers</td>
						<td class="js-turnovers-team1">0</td>
					</tr>
				</tbody>
			</table>
		</div> 

		<div class="col-md-2 col-md-offset-1">
			<p class="confidence-level-header">Confidence Level</p>
			<p class="js-confidence-level"></p>
		</div>

		<div class="col-md-4 col-md-offset-1">
			<table class="table table-bordered table-condensed table-striped js-table-team2">
				<thead>
					<tr>
						<th>Season Stats (Average)</th>
						<th class="js-table-name-team2">Team 2</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Final Score</td>
						<td class="js-final-score-team2">0</td>
					</tr>
					<tr>
						<td>Current Rank</td>
						<td class="js-rank-team2">0</td>
					</tr>
					<tr>
						<td>Strength of Schedule</td>
						<td class="js-sos-team2">0</td>
					</tr>
					<tr>
						<td>Rating Percentage Index (RPI)</td>
						<td class="js-rpi-team2">0</td>
					</tr>
					<tr>
						<td>Scoring Margin</td>
						<td class="js-scoring-margin-team2">0</td>
					</tr>
					<tr>
						<td>Points Per Game</td>
						<td class="js-ppg-team2">0</td>
					</tr>
					<tr>
						<td>Opponents Points Per Game</td>
						<td class="js-opponent-ppg-team2">0</td>
					</tr>
					<tr>
						<td>Field Goal Percentage</td>
						<td><span class="js-field-goal-team2"></span>%</td>
					</tr>
					<tr>
						<td>Opponent Field Goal Percentage</td>
						<td><span class="js-opponent-field-goal-team2"></span>%</td>
					</tr>
					<tr>
						<td>Free Throw Percentage</td>
						<td><span class="js-free-throws-team2"></span>%</td>
					</tr>
					<tr>
						<td>Points in the Paint</td>
						<td class="js-paint-points-team2">0</td>
					</tr>
					<tr>
						<td>Opponent Points in the Paint</td>
						<td class="js-opponent-paint-points-team2">0</td>
					</tr>
					<tr>
						<td>Three Pointers Made</td>
						<td class="js-threes-team2">0</td>
					</tr>
					<tr>
						<td>Three Pointers Against</td>
						<td class="js-opponent-threes-team2">0</td>
					</tr>
					<tr>
						<td>Rebounds</td>
						<td class="js-rebounds-team2">0</td>
					</tr>
					<tr>
						<td>Offensive Rebounds</td>
						<td class="js-offensive-rebounds-team2">0</td>
					</tr>
					<tr>
						<td>Steals</td>
						<td class="js-steals-team2">0</td>
					</tr>
					<tr>
						<td>Turnovers</td>
						<td class="js-turnovers-team2">0</td>
					</tr>
				</tbody>
			</table>
		</div> 
	</div>
	 <!-- ******* END TEAM STATS ROW *************-->
</div>
 <!-- ******* End Container Divide ******* -->


