<div class="container">

	<div class="row home-image-row">
	</div> <!-- End Home Image Row -->

	<div class="row select-teams-row">
		
		<div class="col-md-3 col-md-offset-1">
			<div class="form-group">
				  <label for="first-team">Select Team:</label>
				  <select class="form-control" id="first-team">
				    <option>Yale</option>
				    <option>Duke</option>
				    <option>North Carolina</option>
				  </select>
			</div>
		</div> <!-- End Team 1 Seclect Form -->

		<div class="col-md-3 col-md-offset-1">
			<div class="form-group">
				  <label for="second-team">Select Team:</label>
				  <select class="form-control" id="second-team">
				    <option>1</option>
				    <option>2</option>
				  </select>
			</div>
		</div> <!-- End Team 2 Select Form -->

	</div> <!-- End Select Teams Row -->

	<div class="row basic-team-info-row">
		<div class="col-md-3 col-md-offset-1">
		</div> <!-- End Team 1 Info -->

	</div> <!-- End Basic Team Info Row -->

</div> <!-- ******* End Container Divide ******* -->
