// Place all the styles related to the brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bracket-container {
	// background-color: #efedee;
	background-image: url("http://www.psdgraphics.com/file/basketball-floor.jpg");
}

.bracket-table {
  border-collapse: collapse;
}

.bracket-table td {
  vertical-align: middle;
  width: 140px;
}

td div {
  border: solid 1px #cc0000;
  margin-top: 2px;
  padding: 5px 5px 2px 5px;
  background-color: #d8d8d8;
  color: black;
}

.right-side {
	text-align: right;
	padding-right: 2px;
}

.final-four {
	text-align: center;
	border: 1px solid #cc0000;
	font-size: 18px;
	background-color: #d8d8d8;
}

.national-championship {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	color: black;
}

.final-four-image {
	width: 150px;
	position: relative;
	bottom: 90px;
	left: 30px;
}

.bottom-bracket-row {
	margin-bottom: 15px;
}