// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// For Header Row in Table
.js-table-team1 {
	border: 4px solid black;
}
// For Team 1 Name in Table
.js-table-team1 td {
	color: black;
	border: 2px solid white;
	background-color: #d8d8d8;
}

.table-header-team1 {
	background-color: #cc0000;
	color: white;
}

.js-table-team2 {
	border: 4px solid black;
}

.js-table-team2 td {
	color: black;
	border: 2px solid white;
	background-color: #d8d8d8;
}

.table-header-team2 {
	background-color: #cc0000;
	color: white;
}

// For h1 tag
.welcome-header {
	text-align: center;
}
/* Logo Team 1 Display */
.js-logo-team1 {
	width: 125px;
}
/* Logo Team 2 Display */
.js-logo-team2 {
	width: 125px;
	position: relative;
	left: 45px;
}
// For Mascot Name Team 1
.js-mascot1 {
	font-size: 20px;
	font-weight: bold;
}
// For Mascot Name Team 2
.js-mascot2 {
	font-size: 20px;
	font-weight: bold;
}
/* Team 1 Name in Table */
.js-table-name-team1 {
	text-align: center;
}
/* Team 2 Name in Table */
.js-table-name-team2 {
	text-align: center;
}
/* Center Stats Table 1 */
.js-table-team1 tbody tr td:last-child{
	text-align: center;
}
/* Center Stats Table 2 */
.js-table-team2 tbody tr td:last-child{
	text-align: center;
}
/* For Predicted Winner Header */
 .predicted-winner-header {
	text-align: center;
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
 }
/* Winner Team Name Display */
.js-predicted-winner {
	text-align: center;
	font-size: 46px;
	font-weight: bold;
	color: white;
}
/* For Confidence Level Header */
.confidence-level-header {
	text-align: center;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
}
/* For Confidence Level Input */
.js-confidence-level {
	text-align: center;
	font-size: 22px;
	color: black;
}
// For Image of Logos Row
.all-logos-image-row {
}

.record {
	font-weight: bold;
	font-size: 15px;
}

.seed {
	font-weight: bold;
	font-size: 15px;
}

.form-group {
	font-size: 18px;
}

.form-control {
	background-color: #f8f8f8;
	font-size: 14px;
	border: 1px solid #cc0000;
}