// For Schedule Modal
.schedule-modal-header-div {
	background-color: #cc0000;
}

.schedule-modal-title {
	color: white;
	text-align: center;
}

.schedule-modal-name-team1 {
	text-align: center;
	font-size: 22px;
}

.schedule-modal-name-team2 {
	text-align: center;
	font-size: 22px;
}
