<!DOCTYPE html>
<html>
<head>
  <title>NCAAMb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <img src="http://www.mybookie.ag/wp-content/themes/MyBookie/img/macrhmadness-myb2.jpg" class="main-image">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/comparison/5">Bracket Challenge</a></li> 
        <li><a href="/genies_bracket">Genie's Bracket</a></li> 
        <li><a href="/my_bracket">Beat the Genie</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
      <% if user_signed_in? %>
           <li><a data-method="DELETE" href="users/sign_out"><button class="btn btn-primary btn-xs">Log Out</button></a></li> 
      <% else %>
          <li><a href="/users/sign_in"><button class="btn btn-primary btn-xs js-login">Login</button></a></li>
          <li><a href="/users/sign_up"><button class="btn btn-primary btn-xs">Sign Up</button></a></li>
      <% end %>
      </ul>
    </div>
  </nav>
  </div>

  <%= yield %>

</body>
</html>
